@font-face {
    font-family: 'Nexa';
    src: url('Fontfabric - Nexa Text Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('Fontfabric - Nexa Text Heavy.otf') format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Shopping Script';
    src: url('Shopping Script Demo.ttf') format("ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Shopping Script';
    src: url('Roland Hüse Design - Shopping Script Thin.otf') format("opentype");
    font-weight: 100;
    font-style: normal;
}