.sliderWrapper,
.sliderWrapperOpened {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 7% 250px;
}
.swiperInnerWrapper {
    margin: 0 auto;
    position: relative;
    width: calc(60vh * (27/13) + 36px);
}
.swiperInnerWrapperClicked {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.formTopStyle {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}
.basedCenterPhotoSize {
    width: 100%;
    height: 60vh;
}
.subSlideContents{
    transform: scale(0.70);
    -webkit-transform: scale(0.70);
    transition: 0.2s;
}
.subSlideContents.hoveredActive {
    transition-duration: 0.2s;
    transform: scale(1);
    -webkit-transform: scale(1);
    padding-bottom: 5px;
}

.subSlideContents.hoveredActiveNeighbour {
    transition-duration: 0.2s;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
}

.subSlideActive {
    transition-duration: 0.2s;
    transform: scale(1);
    -webkit-transform: scale(1);
    padding-bottom: 5px;
}

.subSlidePrevNext {
    transition-duration: 0.2s;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
}

.slideContents {
    height: 65vh;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.slideContentsClicked {
    height: 65vh;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.swiperSlideActive .slide {
    transition: all .5s;
    -webkit-transition: all .5s;
}

.swiperSlideActive .slide .slideContents {
    transition-duration: 0.3s;
    transform: scale(1);
    -webkit-transform: scale(1);
    z-index: 2;
}
.swiperSlidePrevNext {
    opacity: 0.6;
}
.dancerName {
    color: rgba(0, 0, 0, 0.6);
    font-size: 35px;
    font-weight: bold;
    z-index: 9;
    position: absolute;
    right: 50px;
    top: 20px;
}

.swiperSlideActive .dancerName {
    color: rgba(0, 0, 0, 1);
    font-size: 35px;
    font-weight: bold;
}

.dancerNameInContents {
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}

.dancerPhotoWrapper {
    display: block;
    position: relative;
    justify-content: center;
}
.flexWrapper {
    display: flex;
    position: relative;
}
.flexWrapperClicked {
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.flexWrapperForMobile {
    display: flex;
    position: relative;
    width: 60%;
    max-width: unset;
}

.swipeForTabletAndMobileLabel {
    margin-right: 15px;
    font-size: 18px;
    display: none;
}
.flexCentering {
    justify-content: flex-start;
    align-items: center;
}
.flexBottom {
    align-items: flex-end;
}
.flexArea {
    width: 40%;
}
.flexAreaWorks {
    max-width: 130px;
    margin-right: 10px;
}
.flexAreaPhoto {
    width: 70%;
    position: relative;
    transition-duration: .8s;
    -webkit-transition-duration: .8s;
}
.initArea {
    width: 100%;
}
.centerPhoto {
    margin: 0 auto;
    position: relative;
}
.simpleArrowPrev {
    color: #000;
    line-height: 1;
    position: relative;
    width: 15px;
    height: 15px;
    transform: translateX(-25%) rotate(-135deg);
    z-index: 2;
    cursor: pointer;
  }

  .simpleArrowPrev:before, .simpleArrowPrev:after {
    content: '';
    position: absolute;
    background: #000;
    border-radius: 5px;
  }

  .simpleArrowPrev:before {
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
  }

  .simpleArrowPrev:after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
  }

  .simpleArrowNext {
    color: #000;
    line-height: 1;
    position: relative;
    width: 15px;
    height: 15px;
    transform: translateX(-25%) rotate(45deg);
    z-index: 2;
    cursor: pointer;
  }

  .simpleArrowNext:before, .simpleArrowNext:after {
    content: '';
    position: absolute;
    background: #000;
    border-radius: 5px;
  }

  .simpleArrowNext:before {
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
  }

  .simpleArrowNext:after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
  }
.dancerInfoWrapper {
    padding: 0 0 0 45px;
    width: 75%;
}
.dancerInfoParagraph {
    padding: 0 0 15px;
    font-weight: 200;
}
.dancerInfoList {
    margin-bottom: 10px;
    line-height: 1.6;
}
.dancerInfoHeadline {
    padding-bottom: 15px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

.dancerInfoOverview {
    font-size: 16px;
}
.dancerNameContentsWrapper {
    width: 100%;
    text-align: left;
    padding-left: 42px;
}
.dancerInfoBold {
    font-weight: 400;
    font-size: 21px;
}

.dancerInfo {
    font-size: 18px;
}

.dancerTitle {
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 200;
}
.paddingBottom40 {
    padding-bottom: 40px;
}

.marginAlignTop {
    /*margin-top: 80px;*/
    margin-top: 0px;
}

.positionRelative {
    position: relative;
}
.dancerOverviewFrame {
    overflow-y: auto;
    max-height: 260px;
    scrollbar-width: thin;
    scrollbar-color: #363636 #979797;
}
.dancerOverviewFrame::before, .dancerOverviewFrame::after {
    content: "";
}

.dancerOverviewFrame::-webkit-scrollbar {
    width: 8px;
}

.dancerOverviewFrame::-webkit-scrollbar-track {
    background: #979797;
    border-left: 4px solid #DDE0E5;
    border-right: 4px solid #DDE0E5;
}

.dancerOverviewFrame::-webkit-scrollbar-thumb {
    background: #363636;
    border-radius: 10px;
}

.horizontalListModalWrapper {
    position: absolute;
    bottom: 40px;
    left: 130px;
    z-index: 1;
}

.arrowWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 4;
    color: #000;
    cursor: pointer;
    right: -85px;
}
.arrowUpRight {
    position: absolute;
    top: 0;
    right: 0;
}

.arrowUpRight::before{
    content: "";
    position: absolute;
    top: -6px;
    left: -21px;
    box-sizing: border-box;
    width: 20px;
    height: 14px;
    border: 8px solid transparent;
    border-left: 8px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrowUpRight::after{
    content: "";
    position: absolute;
    left: -24px;
    top: 9px;
    width: 8px;
    height: 12px;
    border-left: 4px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrowDownLeft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.arrowDownLeft::before{
    content: "";
    position: absolute;
    top: 25px;
    left: 8px;
    box-sizing: border-box;
    width: 20px;
    height: 14px;
    border: 8px solid transparent;
    border-left: 8px solid #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.arrowDownLeft::after{
    content: "";
    position: absolute;
    left: 24px;
    top: 21px;
    width: 8px;
    height: 12px;
    border-left: 4px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fadeInAnimation {
    opacity: 0;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.fadeInAnimationCenterPhoto {
    opacity: 0;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.fadeInAnimationCenterPhoto img {
    object-position: right;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }    
}

.headerWrapper {
    padding: 40px 7% 10px 2%;
}

.dancerSlideHeadline {
    font-size: 32px; /*36px;*/
    font-weight: 300;
    color: #000;
}
.backToDancersWrapper {
    text-align: right;
    min-width: 65px;
    margin-left: 3%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    z-index: 10000;
}

.backToDancers {
    color: #000;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 8%;
}

.backToDancersArrow {
    width: 27px;
    height: 24px;
    margin-top: 2px;
    cursor: pointer;
    position: relative;
}

.backToDancersArrow::before,
.backToDancersArrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
}
.backToDancersArrow::before {
    width: 24px;
    height: 2px;
    margin-top: 10px;
    background: #9B9B9B;
}

.backToDancersArrow::after {
    width: 9px;
    height: 9px;
    margin-top: 5px;
    border-top: 2px solid #9B9B9B;
    border-right: 2px solid #9B9B9B;
    transform: rotate(-135deg);
}

.flexWrapperDancerHeader {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.flexWrapperDancerHeaderOpened,
.flexWrapperDancerHeaderClosed,
.OrSwipe {
    display: none;
}
.viewAllArea {
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-left: 16px;
    color: #c93d38;
}

.dancerListWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.videoPlayerSize{
    width: 100px;
    height: 100px;
}
.subSwiperForMobile {
    display: block;
    margin-top: 15px;
}

.contentsModal {
    width: 100%;
}
.otherOptionModal {
    width: 100%;
    height: 100%;
    position: relative;
}
.modalContentsWithBackgroundImage {
    z-index: 9998;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
}
.modalCloseButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    right: 5%;
    margin-left: auto;
    margin-right: 0;
    mix-blend-mode: multiply;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: 9999;
}
.modalCloseButton::before, .modalCloseButton::after{
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background: rgba(133, 133, 133, 0.6);
    transform: rotate(45deg);
    transform-origin:0% 50%;
    position: absolute;
    top: calc(14% + 3px);
    left: 25%;
}
.modalCloseButton::after{
    transform: rotate(-45deg);
    transform-origin:100% 50%;
    left: auto;
    right: 25%;
}

.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}
.gradationGrayLeftSide {
    background: linear-gradient(-90deg, rgba(221, 224, 229,0) 0%,  rgba(221, 224, 229, 0.2) 5%, rgba(221, 224, 229, 0.9) 45%, rgba(221, 224, 229, 1) 80%);
    width: calc(60vh * 9/13);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1197;
    pointer-events: none;
}

.gradationGrayRightSide {
    background: linear-gradient(90deg, rgba(221, 224, 229, 0) 0%, rgba(221, 224, 229, 0.2) 5%, rgba(221, 224, 229, 0.9) 45%, rgba(221, 224, 229, 1) 80%);
    width: calc(60vh * 9/13);
    height: 100%; /*100% or 82%*/
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1197;
    pointer-events: none;
}
.fadeOutAnimation {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.fadeOutAnimation:hover {
    -webkit-animation: fadeInHover 1s;
    animation: fadeInHover 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInHover {
    0% {opacity: 0;}
    100% { opacity: 1; }
  }
  @keyframes fadeOut {
      0% {opacity: 1;}
      100% { opacity: 0; }
  }
  .swiperButtonPrevArrow::after {
    content: "";
    margin: auto;
    position: absolute;
    top: 2px;
    bottom: -2px;
    left: 24px;
    width: 32px;
    height: 2px;
    background: #000;
}

.swiperButtonPrevArrow::before {
    content: "";
    margin: auto;
    position:absolute;
    top: 2px;
    bottom: -2px;
    width: 10px;
    height: 10px;
    left:24px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(-135deg);
}
.swiperButtonNextArrow {
    text-align: center;
    position: relative;
    color: #000;
    top: 17%;
  }
  .swiperButtonNextArrow::after {
    content: "";
    margin: auto;
    position:absolute;
    top: 27px;
    bottom: -27px;
    right: 24px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
  }

  .swiperButtonNextArrow::before {
    content: "";
    margin: auto;
    position: absolute;
    top: 27px;
    bottom: -27px;
    left: 24px;
    width: 32px;
    height: 2px;
    background: #000;
  }
  .swiperModalButtonPrevWrapper {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 250px;
    height: 250px;
    z-index: 9999;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .swiperModalButtonPrev {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  
.swiperModalButtonNextWrapper {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 250px;
    height: 250px;
    z-index: 9997;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .swiperModalButtonNext {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9997;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .swipeWrapper {
    user-select: none;
  }
  .swipeSubWrapper {
    width: 100%;
    height: 100%;
    filter: drop-shadow(4px 4px 4px #c4c4c4);
    padding-bottom: 5px;
    cursor: pointer;
  }
  
  .swiperButtonDancerNextWrapper {
    position: absolute;
    top: 40%;
    right: 0%;
    width: 250px;
    height: 250px;
    z-index: 9997;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .swiperButtonDancerNext {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9997;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .swiperButtonDancerPrev {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .swiperButtonDancerPrevWrapper {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 250px;
    height: 250px;
    z-index: 9999;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .swiperButtonDancerPrevWrapperOpened {
    position: absolute;
    top: 50%;
    left: 9%;
    width: 250px;
    height: 250px;
    z-index: 9999;
    cursor: pointer;
    transform: translateY(-50%);
  }
@media screen and (min-width: 1600px) {
    .swiperModalButtonPrevWrapper {
        position: absolute;
        top: 50%;
        left: 50px;
        width: 350px;
        height: 350px;
        z-index: 9999;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .swiperModalButtonNextWrapper {
        position: absolute;
        top: 50%;
        right: 50px;
        width: 350px;
        height: 350px;
        z-index: 9997;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .swiperButtonDancerPrevWrapper {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 350px;
        height: 350px;
        z-index: 9999;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .swiperButtonDancerNextWrapper {
        position: absolute;
        top: 50%;
        right: 0%;
        width: 350px;
        height: 350px;
        z-index: 9997;
        cursor: pointer;
        transform: translateY(-50%);
      }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .gradationGrayLeftSide {
        background: linear-gradient(-90deg, rgba(221, 224, 229,0) 0%,  rgba(221, 224, 229, 0.2) 5%, rgba(221, 224, 229, 0.9) 30%, rgba(221, 224, 229, 1) 60%);
        width: calc(60vh * 7/13);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1197;
    }
    
    .gradationGrayRightSide {
        background: linear-gradient(90deg, rgba(221, 224, 229, 0) 0%, rgba(221, 224, 229, 0.2) 5%, rgba(221, 224, 229, 0.9) 30%, rgba(221, 224, 229, 1) 60%);
        width: calc(60vh * 7/13);
        height: 100%; /*100% or 82%*/
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1197;
    }
}
@media screen and (max-width: 1199px) {
    .sliderWrapper {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }
    .sliderWrapperOpened {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0 0 0 5%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .swiperInnerWrapper {
        width: calc(60vh * (22/13) + 36px);
        margin: 0 auto;
        position: relative;
    }
    .basedCenterPhotoSize {
        width: 100%;
        height: 60vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .swiperInnerWrapper {
        width: calc(60vh + 36px);
        margin: 0 auto;
        position: relative;
        min-width: 100%;
    }
    
    .basedCenterPhotoSize {
        width: 100%;
        height: 60vh;
    }
    .gradationGrayLeftSide {
        background: linear-gradient(-90deg, rgba(221, 224, 229,0),rgba(221, 224, 229, 1));
        width: calc(60vh * 5/13);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .gradationGrayRightSide {
        background: linear-gradient(90deg, rgba(221, 224, 229, 0) 0%,rgba(221, 224, 229, 1));
        width: calc(60vh * 5/13);
        height: 100%; /*100% or 82%*/
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
    .swiperInnerWrapper {
        width: calc(60vh * (15/13) + 36px);
        margin: 0 auto;
        position: relative;
    }
    
    .basedCenterPhotoSize {
        width: 100%;
        height: 60vh;
    }
}
@media screen and (max-width: 639px) {
    .swiperInnerWrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .viewAllOrSwipeWrapper {
        display: flex;
        gap: 0 70px;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        margin-right: 10%;
        margin-left: 3%;
    }
    .basedCenterPhotoSize {
        width: 100%;
        height: 60vh;
    }
    .basedCenterPhotoSize.isClicked {
        width: 100%;
        height: 42vh;
    }
    .flexAreaPhoto {
        height: 46vh;
    }
    .headerWrapper {
        padding: 40px 7% 0;
    }
    .headerWrapper.isClicked {
        padding: 40px 7%;
    }
    .slideContents {
        height: 60vh;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    
    .slideContentsClicked {
        height: 50vh;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@media screen and (max-width: 1023px) {
    .OrSwipe {
        display: block;
    }
    .flexWrapperDancerHeader.isClicked {
        justify-content: flex-start;
    }
    .flexWrapperDancerHeaderClosed {
        display: none;
    }
    .flexWrapperDancerHeaderOpened {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
    }
    .viewAllArea,
    .viewAllAreaMobile {
        cursor: pointer;
        text-decoration: underline;
        display: inline-block;
        margin-left: 0;
        color: #c93d38;
    }
    .viewAllArea.isClicked,
    .OrSwipe.isClicked {
        display: none;
    }
    .backToDancersMobile {
        color: #000;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-decoration: underline;
        width: 10%;
    }
    .OrSwipe {
        color: #363636;
        font-weight: 100;
    }
    .swipeForTabletAndMobile,
    .backToDancersWrapper  {
        display: none;
    }
    .horizontalListModalWrapper {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        overflow: auto;
        width: 100%;
        justify-content: flex-start;
    }
    .dancerNameContentsWrapper {
        width: 85%;
        text-align: left;
        padding-left: 20px;
    }
    .dancerInfoWrapper {
        padding: 0 20px;
        width: 85%;
        min-height: 53vh;
        overflow-y: auto;
        word-wrap: break-word;
    }
    .arrowWrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 60px;
        z-index: 4;
        color: #000;
        cursor: pointer;
        right: unset;
        left: 0;
    }
    .swipeForTabletAndMobile {
        display: none;
        position: absolute;
        top: 0;
        left: 12px;
        align-items: center;
    }
    .swipeForTabletAndMobileLabel {
        margin-right: 15px;
        font-size: 18px;
        display: inline-block;
    }
    .simpleArrowPrev {
        color: #000;
        line-height: 1;
        position: relative;
        width: 10px;
        height: 10px;
        transform: translateX(-25%) rotate(-135deg);
        z-index: 2;
        cursor: pointer;
      }
    
      .simpleArrowPrev:before, .simpleArrowPrev:after {
        content: '';
        position: absolute;
        background: #000;
        border-radius: 0;
      }
    
      .simpleArrowPrev:before {
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
      }
    
      .simpleArrowPrev:after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 3px;
      }
    
      .simpleArrowNext {
        color: #000;
        line-height: 1;
        position: relative;
        width: 10px;
        height: 10px;
        transform: translateX(-25%) rotate(45deg);
        z-index: 2;
        cursor: pointer;
      }
    
      .simpleArrowNext:before, .simpleArrowNext:after {
        content: '';
        position: absolute;
        background: #000;
        border-radius: 0;
      }
    
      .simpleArrowNext:before {
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
      }
    
      .simpleArrowNext:after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 3px;
      }
      .swiperButtonHappeningsPrev,
      .swiperButtonHappeningsNext,
      .swiperButtonNextWrapper,
      .swiperButtonPrevWrapper,
      .swiperButtonHappeningsPrevWrapper,
      .swiperButtonHappeningsNextWrapper,
      .swiperButtonDancerNextWrapper,
      .swiperButtonDancerPrevWrapper,
      .swiperButtonDancerPrevWrapperOpened,
      .swiperButtonShopPrevWrapper,
      .swiperButtonShopNextWrapper,
      .swiperModalButtonNextWrapper,
      .swiperModalButtonPrevWrapper {
        display: none;
      }
}
@media screen and (max-width: 767px) {
    .gradationGrayLeftSide {
        background: linear-gradient(-90deg, rgba(221, 224, 229,0),rgba(221, 224, 229, 1));
        width: 15%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .gradationGrayRightSide {
        background: linear-gradient(90deg, rgba(221, 224, 229, 0) 0%,rgba(221, 224, 229, 1));
        width: 15%;
        height: 100%; /*100% or 82%*/
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }
    .swiperSlideActive .slide {
        overflow-y: auto!important;
    }
    .viewAllOrSwipeWrapper {
        display: flex;
        gap: 0 70px;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin-right: 10%;
    }
    .formTopStyle {
        overflow-y: auto;
    }
    .basedCenterPhotoSize {
        width: 100%;
        height: 60vh;
    }
    .basedCenterPhotoSize.isClicked {
        width: 100%;
        height: calc(100vw * 17/22);
    }
    .subSwiperForMobile {
        display: none;
    }
    .flexWrapper {
        flex-direction: column;
    }
    .flexWrapperForMobile {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: flex-start;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .flexWrapperClicked {
        display: flex;
        position: relative;
        justify-content: flex-start;
        flex-direction: column;
    }
    .sliderWrapper {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }
    .headerWrapper {
        padding: 80px 3% 10px;
    }
    .flexAreaPhoto {
        width: 55%;
        position: relative;
        transition-duration: .8s;
        -webkit-transition-duration: .8s;
    }
    .verticalWorksArea {
        width: 25%;
    }
    .dancerNameContentsWrapper {
        width: 92%;
        text-align: left;
        padding-left: 0;
    }
    .flexArea {
        width: 100%;
    }
    .slideContentsClicked {
        height: 100vh;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    .dancerOverviewFrame {
        overflow-y: auto;
        max-height: 160px;
        scrollbar-width: thin;
        scrollbar-color: #8B7A6A #E2C3A6;
    }
    
    .flexWrapperDancerHeader {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0 20px;
    }
    .flexWrapperDancerHeaderOpened {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
    .backToDancersMobile {
        color: #000;
        cursor: pointer;
        display: inline-block;
        position: relative;
        text-decoration: underline;
    }
    .viewAllOrSwipeWrapper {
        display: flex;
        gap: 0 15px;
        align-items: center;
        margin-right: 3%;
    }
    .horizontalListModalWrapper {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        overflow: auto;
        width: 100%;
    }
    
    .flexAreaWorks {
        max-width: 85px;
        margin-right: 0px;
    }
    .modalContentsWithBackgroundImage {
        right: 15px;
    }
}
@media screen and (max-width: 550px) {
    
    .verticalWorksArea {
        width: 30%;
    }
    .basedCenterPhotoSize {
        width: 100%;
        height: 60vh;
    }
    .basedCenterPhotoSize.isClicked {
        width: 100%;
        height: 43vh;
    }
    .dancerListPhotoCard {
        max-width: 50%;
        width: 50%;
        height: auto;
        min-height: 300px;
    }
    .flexAreaPhoto {
        width: 65%;
        position: relative;
        transition-duration: .8s;
        -webkit-transition-duration: .8s;
    }
    .videoPlayerSize{
        width: 20vw;
        height: 20vw;
    }
    .flexBottom {
        margin-top: 30px;
    }
    .flexWrapperForMobile {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: flex-start;
    }
}