.modalContentsTouchSwipingWrapper {
    z-index: 9996;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.positionRelative {
    position: relative;
}
.swiperFlexibleSize {
    width: auto!important;
}
.contentsModal {
    width: 100%;
}
.otherOptionModal {
    width: 100%;
    height: 100%;
    position: relative;
}
.modalContentsWithBackgroundImage {
    z-index: 9998;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
}
.modalCloseButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    right: 5%;
    margin-left: auto;
    margin-right: 0;
    mix-blend-mode: multiply;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: 9999;
}
.modalCloseButton::before, .modalCloseButton::after{
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background: rgba(133, 133, 133, 0.6);
    transform: rotate(45deg);
    transform-origin:0% 50%;
    position: absolute;
    top: calc(14% + 3px);
    left: 25%;
}
.modalCloseButton::after{
    transform: rotate(-45deg);
    transform-origin:100% 50%;
    left: auto;
    right: 25%;
}
.fadeOutAnimation {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.fadeOutAnimation:hover {
    -webkit-animation: fadeInHover 1s;
    animation: fadeInHover 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInHover {
    0% {opacity: 0;}
    100% { opacity: 1; }
  }
.swiperButtonPrevWrapper {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 250px;
    height: 250px;
    z-index: 9999;
    cursor: pointer;
    transform: translateY(-50%);
}
.swiperButtonPrev {
    top: 50%;
    left: 200px;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
}
.swiperButtonPrevArrow::after {
    content: "";
    margin: auto;
    position: absolute;
    top: 2px;
    bottom: -2px;
    left: 24px;
    width: 32px;
    height: 2px;
    background: #000;
}

.swiperButtonPrevArrow::before {
    content: "";
    margin: auto;
    position:absolute;
    top: 2px;
    bottom: -2px;
    width: 10px;
    height: 10px;
    left:24px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(-135deg);
}
.swiperButtonNextWrapper {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 250px;
    height: 250px;
    z-index: 9999;
    cursor: pointer;
    transform: translateY(-50%);
}
.swiperButtonNext {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiperButtonNextArrow {
    text-align: center;
    position: relative;
    color: #000;
    top: 17%;
  }
  .swiperButtonNextArrow::after {
    content: "";
    margin: auto;
    position:absolute;
    top: 27px;
    bottom: -27px;
    right: 24px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
  }

  .swiperButtonNextArrow::before {
    content: "";
    margin: auto;
    position: absolute;
    top: 27px;
    bottom: -27px;
    left: 24px;
    width: 32px;
    height: 2px;
    background: #000;
  }
  .swiperModalButtonPrevWrapper {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 250px;
    height: 250px;
    z-index: 9999;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .swiperModalButtonPrev {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
@keyframes fadeOut {
    0% {opacity: 1;}
    100% { opacity: 0; }
}
.swiperModalButtonNextWrapper {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 250px;
    height: 250px;
    z-index: 9997;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .swiperModalButtonNext {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    outline: 0;
    z-index: 9997;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
@media screen and (min-width: 1600px) {
    .swiperButtonNextWrapper {
      position: absolute;
      top: 50%;
      right: 5%;
      width: 350px;
      height: 350px;
      z-index: 9997;
      cursor: pointer;
      transform: translateY(-50%);
    }
    .swiperModalButtonPrevWrapper {
        position: absolute;
        top: 50%;
        left: 50px;
        width: 350px;
        height: 350px;
        z-index: 9999;
        cursor: pointer;
        transform: translateY(-50%);
      }
      .swiperModalButtonNextWrapper {
        position: absolute;
        top: 50%;
        right: 50px;
        width: 350px;
        height: 350px;
        z-index: 9997;
        cursor: pointer;
        transform: translateY(-50%);
      }
}
@media screen and (max-width: 767px) {
    
    .modalContentsWithBackgroundImage {
        right: 15px;
    }
}
@media screen and (max-width: 1023px) {
    .swiperButtonHappeningsPrev,
    .swiperButtonHappeningsNext,
    .swiperButtonNextWrapper,
    .swiperButtonPrevWrapper,
    .swiperButtonHappeningsPrevWrapper,
    .swiperButtonHappeningsNextWrapper,
    .swiperButtonDancerNextWrapper,
    .swiperButtonDancerPrevWrapper,
    .swiperButtonDancerPrevWrapperOpened,
    .swiperButtonShopPrevWrapper,
    .swiperButtonShopNextWrapper,
    .swiperModalButtonNextWrapper,
    .swiperModalButtonPrevWrapper {
        display: none;
    }
}